<a href="https://colab.research.google.com/github/cristiandarioortegayubro/pandito/blob/main/colab/pandas_001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1 p align="center">
<b>
<font color="DeepPink">
Saliendo de lo pandito
</font>
</h1>

<p align="center">
<img src="https://github.com/cristiandarioortegayubro/BDS/blob/main/images/Logo%20BDS%20Horizontal%208.png?raw=true" width="400">
</p>

<p align="center">
<img src="https://github.com/cristiandarioortegayubro/pandito/blob/main/images/imagen-001.png?raw=true" width="300">
</p>

<p align="center">
<img src="https://github.com/cristiandarioortegayubro/BDS/blob/main/images/Logo%20Pandas.png?raw=true">
</p>

 # **<font color="DeepPink">Conociendo Pandas</font>**

<p align="justify">
El módulo <code>Pandas</code> es una herramienta importante en el desarrollo de los siguientes notebooks. Contiene estructuras de datos y herramientas de manipulación de datos para que la limpieza y el análisis de datos sea rápido. <br><br> <code>Pandas</code> usualmente se usa en conjunto con herramientas de computación numérica como <code>NumPy</code> y como <code>SciPy</code>. Tambien con bibliotecas analíticas como <code>statsmodels</code> y <code>scikit-learn</code> y bibliotecas de visualización de datos como <code>seaborn</code> y <code>plotly</code>. <br><br> <code>Pandas</code> adopta partes significativas del estilo idiomático de <code>NumPy</code>, especialmente funciones basadas en matrices y una preferencia por el procesamiento de datos sin bucles <code>for</code>.<br><br> Mientras que <code>Pandas</code> adopta muchos modismos de <code>NumPy</code>, la mayor diferencia que tienen ambos módulos es que <code>Pandas</code> está diseñado para trabajar con datos tabulares o heterogéneos mientras que <code>NumPy</code>, por el contrario, es el más adecuado para trabajar con datos de matrices numéricas homogéneas.Desde que se convirtió en un proyecto de código abierto en 2010, <code>Pandas</code> ha madurado hasta convertirse en una biblioteca bastante grande que es aplicable en un amplio conjunto de casos de uso del mundo real. La comunidad de desarrolladores y usuarios de <code>Pandas</code> han sido una parte clave de su éxito.
</p>

<p align="justify"> 👀 Por convención, de esta manera se importa <code>Pandas</code>:  </p>

In [ ]:
import numpy as np
import pandas as pd

 # **<font color="DeepPink">Estructuras de datos</font>**

<p align="justify">
Las estructuras de datos que debemos manejar son: <code>Series</code> y <code>DataFrame</code>. Si bien no son una solución universal para todos los problemas que se pueden plantear, proporcionan una base sólida para una amplia variedad de tareas de datos. Estas estructuras de datos son fundamentales en <code>Pandas</code>.
</p>

 ## **<font color="DeepPink">Serie</font>**

<p align="justify">
Una serie es un objeto unidimensional similar a una matriz que contiene una secuencia de valores (similares a los tipos NumPy) del mismo tipo y una matriz asociada de etiquetas de datos, denominada índice. <br><br> La serie más simple se forma a partir de solo una matriz de datos:</p>

<p align="center">
<img src="https://github.com/cristiandarioortegayubro/BDS/blob/main/images/Image_0005.jpg?raw=true" width="600" height="">
</p>

<p align="justify"> 👀
Con el método <code>Series()</code> de <code>Pandas</code> creamos la serie, solamente pasando una lista de elementos (del mismo tipo de datos) podemos crear nuestra serie, y luego podemos asignar esta serie a un objeto. Para verla, solamente llamamos al objeto.
</p>

In [ ]:
serie = pd.Series([7, 9, 5])

In [ ]:
serie

0    7
1    9
2    5
dtype: int64

<p align="justify"> 👀
La representación de una serie que se muestra interactivamente muestra el índice a la izquierda y los valores a la derecha. Como no especificamos un índice para los datos, se crea uno predeterminado que consiste en valores enteros. <br><br>Para obtener una representación de matriz, se usa el atributo <code>array</code> y para visualizar el indice de los elementos de la serie, se usa el atributo <code>index</code>.
</p>

In [ ]:
serie.array

<PandasArray>
[7, 9, 5]
Length: 3, dtype: int64

In [ ]:
serie.index

RangeIndex(start=0, stop=3, step=1)

<p align="justify"> 👀
Puede ser que se quiera crear una serie con un índice que identifique cada punto de datos con una etiqueta. Por ejemplo:
</p>

In [ ]:
indice = pd.Series([40, 42, 45, 43], index=["d", "b", "a", "c"])

In [ ]:
indice

d    40
b    42
a    45
c    43
dtype: int64

In [ ]:
indice.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [ ]:
"b" in indice

True

In [ ]:
"h" in indice

False

<p align="justify"> 👀
Si tenemos los datos contenidos en un diccionario, entonces se puede crear una serie. Por ejemplo:
</p>

In [ ]:
ESP = {"Activo": 35000, "Pasivo": 10000, "Patrimonio Neto": 25000}

In [ ]:
esp = pd.Series(ESP)

In [ ]:
esp

Activo             35000
Pasivo             10000
Patrimonio Neto    25000
dtype: int64

In [ ]:
esp[0] == esp[1] + esp[2]

True

<p align="justify"> 👀
Y una serie puede convertirse en diccionario con el metodo <code>to_dict()</code>. Por ejemplo:
</p>

In [ ]:
esp.to_dict()

{'Activo': 35000, 'Pasivo': 10000, 'Patrimonio Neto': 25000}

 ## **<font color="DeepPink">DataFrame</font>**

<p align="justify">
Un DataFrame representa una tabla de datos y contiene una colección ordenada y con nombre de columnas, cada una de las cuales puede ser un tipo de valor diferente (numérico, cadena, booleano, etc.). El DataFrame tiene un índice de fila y columna.
</p>

<p align="center">
<img src="https://github.com/cristiandarioortegayubro/BDS/blob/main/images/Image_0007.jpg?raw=true"width="600" height="">
</p>

<p align="justify"> 👀
Si bien un DataFrame es físicamente bidimensional, puede usarlo para representar datos de dimensiones superiores en un formato tabular utilizando la indexación jerárquica... Hay muchas maneras de construir un DataFrame, aunque una de las más comunes es desde un diccionario de listas de igual longitud o matrices <code>NumPy</code>.
</p>

In [ ]:
ventas = [230.1, 44.5, 17.2, 151.5, 180.8]
periodico = [22.1, 10.4, 9.3, 18.5, 12.9]
radio = [37.8, 39.3, 45.9, 41.3, 10.8]
tv = [69.2, 45.1, 69.3, 58.5, 58.4]

In [ ]:
diccionario = {"Ventas":ventas,
               "Radio":radio,
               "Tv":tv,
               "Periodico":periodico}

In [ ]:
df = pd.DataFrame(diccionario)

In [ ]:
df

   Ventas  Radio    Tv  Periodico
0   230.1   37.8  69.2       22.1
1    44.5   39.3  45.1       10.4
2    17.2   45.9  69.3        9.3
3   151.5   41.3  58.5       18.5
4   180.8   10.8  58.4       12.9

<p align="justify"> 👀
A la hora de la creacion del DataFrame se puede especificar el orden de las columnas. <br><br>Por ejemplo:
</p>

In [ ]:
df = pd.DataFrame(diccionario, columns=["Ventas","Periodico", "Radio", "Tv"])

In [ ]:
df

   Ventas  Periodico  Radio    Tv
0   230.1       22.1   37.8  69.2
1    44.5       10.4   39.3  45.1
2    17.2        9.3   45.9  69.3
3   151.5       18.5   41.3  58.5
4   180.8       12.9   10.8  58.4

<p align="justify"> 👀
Si se coloca una columna que no estaba, entonces aparece con valores nulos en el DataFrame. Por ejemplo:
</p>

In [ ]:
df = pd.DataFrame(diccionario, columns=["Ventas", "Periodico", "Radio", "Tv", "Media"])

In [ ]:
df

   Ventas  Periodico  Radio    Tv Media
0   230.1       22.1   37.8  69.2   NaN
1    44.5       10.4   39.3  45.1   NaN
2    17.2        9.3   45.9  69.3   NaN
3   151.5       18.5   41.3  58.5   NaN
4   180.8       12.9   10.8  58.4   NaN

<p align="justify"> 👀
Se pueden reordenar las columnas del DataFrame. Por ejemplo:
</p>

In [ ]:
df.Media = df.Periodico + df.Radio + df.Tv

In [ ]:
df[["Ventas","Media","Periodico","Radio","Tv"]]

   Ventas  Media  Periodico  Radio    Tv
0   230.1  129.1       22.1   37.8  69.2
1    44.5   94.8       10.4   39.3  45.1
2    17.2  124.5        9.3   45.9  69.3
3   151.5  118.3       18.5   41.3  58.5
4   180.8   82.1       12.9   10.8  58.4

<p align="justify"> 👀
Podemos hacer transpoción del DataFrame. Por ejemplo:
</p>

In [ ]:
df.T

               0     1      2      3      4
Ventas     230.1  44.5   17.2  151.5  180.8
Periodico   22.1  10.4    9.3   18.5   12.9
Radio       37.8  39.3   45.9   41.3   10.8
Tv          69.2  45.1   69.3   58.5   58.4
Media      129.1  94.8  124.5  118.3   82.1

<p align="justify">
🟡 Hay que tener en cuenta que la transposición descarta los tipos de datos de columna, si las columnas no tienen todas el mismo tipo de datos, por lo que hacer transposición y hacerla posteriormente de nuevo, puede generar la perdida de información de los datos anteriores. Las columnas se convierten en matrices de objetos puros en este caso.
</p>

 # **<font color="DeepPink">Selección de Datos </font>**

<p align="justify">
Algunos métodos para la interacción con los datos contenidos en una serie o DataFrame. Para ello, vamos a generar un DataFrame con los valores de las acciones de acindar.</p>

In [ ]:
!pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: yfinance in /usr/local/lib/python3.9/dist-packages (0.2.14)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /usr/local/lib/python3.9/dist-packages (from yfinance) (4.11.2)
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.9/dist-packages (from yfinance) (4.9.2)
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.9/dist-packages (from yfinance) (2022.7.1)
Requirement already satisfied: html5lib>=1.1 in /usr/local/lib/python3.9/dist-packages (from yfinance) (1.1)
Requirement already satisfied: frozendict>=2.3.4 in /usr/local/lib/python3.9/dist-packages (from yfinance) (2.3.6)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.9/dist-packages (from yfinance) (1.22.4)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.9/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: cryptography>=3.3.2 in /usr/local/lib/python3.9/dist-packages (from yfinance) (40.0.1)
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.9/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.9/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.9/dist-packages (from yfinance) (2.27.1)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.9/dist-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.9/dist-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.9/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.9/dist-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26->yfinance) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26->yfinance) (3.4)
Requirement already satisfied: pycparser in /usr/local/lib/python3.9/dist-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)

 ## **<font color="DeepPink">Selección por etiquetas</font>**

<p align="justify">
<code>Pandas</code> proporciona un conjunto de métodos para lograr una indexación. Este es un protocolo estricto basado en la inclusión. En el caso de indexación por etiquetas este es un protocolo estricto basado en la inclusión. Cada etiqueta solicitada debe existir, tanto en el indice como en las columnas. Al seleccionar por ejemplo filas (indice) se incluye el límite inicial indicado y el límite final. <br><br> 👀 Los números enteros son etiquetas válidas, pero se refieren a las etiquetas del indice (cuando la etiqueta es numérica) y no a la posición de cada fila. Lo mismos pasa cuando en el índice tenemos fechas.
</p>

~~~python
df.loc[fila inicial : fila final, columna inicial : columna final]
~~~

In [ ]:
import yfinance as yf 
dolar_oficial = yf.download("ARS=X", start="2023-01-03")

[*********************100%***********************]  1 of 1 completed

In [ ]:
dolar_oficial.head()

                  Open        High         Low       Close   Adj Close  Volume
Date
2023-01-03  178.148315  178.508270  177.095306  178.148315  178.148315       0
2023-01-04  178.375839  178.734222  177.385803  178.375839  178.375839       0
2023-01-05  178.584167  179.032043  178.042755  178.584167  178.584167       0
2023-01-06  178.905197  179.949463  178.862473  178.905197  178.905197       0
2023-01-09  179.071686  180.230576  178.559753  179.071686  179.071686       0

<p align="justify">
Vamos a seleccionar los valores de apertura y de cierre, es decir, las columnas <code>Open</code> y <code>Close</code>.</p>

In [ ]:
dolar_oficial.loc[:,["Open","Close"]].head()

                  Open       Close
Date
2023-01-03  178.148315  178.148315
2023-01-04  178.375839  178.375839
2023-01-05  178.584167  178.584167
2023-01-06  178.905197  178.905197
2023-01-09  179.071686  179.071686

<p align="justify">
O podemos seleccionar también desde el día $03$ de enero al día $06$ de enero.</p>

In [ ]:
dolar_oficial.loc["2023-01-03":"2023-01-06",:]

                  Open        High         Low       Close   Adj Close  Volume
Date
2023-01-03  178.148315  178.508270  177.095306  178.148315  178.148315       0
2023-01-04  178.375839  178.734222  177.385803  178.375839  178.375839       0
2023-01-05  178.584167  179.032043  178.042755  178.584167  178.584167       0
2023-01-06  178.905197  179.949463  178.862473  178.905197  178.905197       0

 ## **<font color="DeepPink">Selección por posición</font>**

<p align="justify">
<code>Pandas</code> proporciona un conjunto de métodos para obtener una indexación puramente basada en enteros. La semántica sigue de cerca lo definido en <code>Python</code> y <code>NumPy</code>. Estos son indexación. Al cortar, se incluye el límite inicial $n$, mientras que se excluye el límite final $m$, es decir desde $n$ hasta $m-1$ <br><br> 👀 En los parámetros de la selección, siempre se indica primero las filas y luego las columnas. En el caso de seleccionar de un DataFrame, se hace de la siguiente forma:
</p>

~~~python
df.iloc[fila inicial : fila final, columna inicial : columna final]
~~~

<p align="justify">
Vamos a seleccionar los valores de apertura y de cierre, es decir, las columnas <code>Open</code> y <code>Close</code>, pero usando este tipo de selección.</p>

In [ ]:
dolar_oficial.iloc[:,[0,3]].head()

                  Open       Close
Date
2023-01-03  178.148315  178.148315
2023-01-04  178.375839  178.375839
2023-01-05  178.584167  178.584167
2023-01-06  178.905197  178.905197
2023-01-09  179.071686  179.071686

<p align="justify">
O podemos seleccionar también desde el día $03$ de enero al día $06$ de enero.</p>

In [ ]:
dolar_oficial.iloc[0:4,:]

                  Open        High         Low       Close   Adj Close  Volume
Date
2023-01-03  178.148315  178.508270  177.095306  178.148315  178.148315       0
2023-01-04  178.375839  178.734222  177.385803  178.375839  178.375839       0
2023-01-05  178.584167  179.032043  178.042755  178.584167  178.584167       0
2023-01-06  178.905197  179.949463  178.862473  178.905197  178.905197       0

<p align="justify">
También podemos seleccionar la posición del dato.</p>

In [ ]:
dolar_oficial.iloc[0]

Open         178.148315
High         178.508270
Low          177.095306
Close        178.148315
Adj Close    178.148315
Volume         0.000000
Name: 2023-01-03 00:00:00, dtype: float64

 ## **<font color="DeepPink">Filtros</font>**

<p align="justify">
<code>Pandas</code> nos permite llevar a cabo algunas opciones para filtrar nuestros datos, incluidas las máscaras booleanas y algunos métodos especiales. Con las máscaras booleanas, probamos nuestros datos contra algún valor y obtenemos una estructura de la misma forma, excepto que está llena de valores que son <code>True</code> o <code>False</code>.
</p>

In [ ]:
df

   Ventas  Periodico  Radio    Tv  Media
0   230.1       22.1   37.8  69.2  129.1
1    44.5       10.4   39.3  45.1   94.8
2    17.2        9.3   45.9  69.3  124.5
3   151.5       18.5   41.3  58.5  118.3
4   180.8       12.9   10.8  58.4   82.1

### **<font color="DeepPink"> Mayor ```>``` Mayor igual ```>=``` Menor ```<``` Menor igual ```<=```</font>**

<p align="justify">
Filtramos los valores Radio mayores a $40$.</p>

In [ ]:
df[df.Radio > 40]

   Ventas  Periodico  Radio    Tv  Media
2    17.2        9.3   45.9  69.3  124.5
3   151.5       18.5   41.3  58.5  118.3

<p align="justify">
Ahora filtramos los valores Radio mayores a $40$, pero con el método <code>query()</code>.</p>

In [ ]:
df.query("Radio > 40")

   Ventas  Periodico  Radio    Tv  Media
2    17.2        9.3   45.9  69.3  124.5
3   151.5       18.5   41.3  58.5  118.3

### **<font color="DeepPink">Dos o más condiciones verdaderas ```&```</font>**

<p align="justify">
Para visualizar más de dos condiciones verdaderas, es decir todas las condiciones verdaderas se usa el símbolo &...</p>

In [ ]:
df

   Ventas  Periodico  Radio    Tv  Media
0   230.1       22.1   37.8  69.2  129.1
1    44.5       10.4   39.3  45.1   94.8
2    17.2        9.3   45.9  69.3  124.5
3   151.5       18.5   41.3  58.5  118.3
4   180.8       12.9   10.8  58.4   82.1

In [ ]:
df[(df.Periodico > 11) & (df.Radio > 41)]

   Ventas  Periodico  Radio    Tv  Media
3   151.5       18.5   41.3  58.5  118.3

In [ ]:
df.query("Periodico > 11 & Radio > 41")

   Ventas  Periodico  Radio    Tv  Media
3   151.5       18.5   41.3  58.5  118.3

### **<font color="DeepPink">Dos o más condiciones, alguna verdadera ```|```</font>**

<p align="justify">
Para visualizar más de dos condiciones y alguna de ellas es verdadera, se usa el símbolo |...</p>

In [ ]:
df

   Ventas  Periodico  Radio    Tv  Media
0   230.1       22.1   37.8  69.2  129.1
1    44.5       10.4   39.3  45.1   94.8
2    17.2        9.3   45.9  69.3  124.5
3   151.5       18.5   41.3  58.5  118.3
4   180.8       12.9   10.8  58.4   82.1

In [ ]:
df[(df.Periodico > 15) | (df.Radio > 41)]

   Ventas  Periodico  Radio    Tv  Media
0   230.1       22.1   37.8  69.2  129.1
2    17.2        9.3   45.9  69.3  124.5
3   151.5       18.5   41.3  58.5  118.3

In [ ]:
df.query("Periodico > 15 | Radio > 41")

   Ventas  Periodico  Radio    Tv  Media
0   230.1       22.1   37.8  69.2  129.1
2    17.2        9.3   45.9  69.3  124.5
3   151.5       18.5   41.3  58.5  118.3

### **<font color="DeepPink">Conjunto de valores ```between()```</font>**

<p align="justify">
Para un conjunto de valores entre un intervalo determinado...</p>

In [ ]:
df

   Ventas  Periodico  Radio    Tv  Media
0   230.1       22.1   37.8  69.2  129.1
1    44.5       10.4   39.3  45.1   94.8
2    17.2        9.3   45.9  69.3  124.5
3   151.5       18.5   41.3  58.5  118.3
4   180.8       12.9   10.8  58.4   82.1

In [ ]:
df[df.Periodico.between(10.4, 22.1)]

   Ventas  Periodico  Radio    Tv  Media
0   230.1       22.1   37.8  69.2  129.1
1    44.5       10.4   39.3  45.1   94.8
3   151.5       18.5   41.3  58.5  118.3
4   180.8       12.9   10.8  58.4   82.1

In [ ]:
df.query("Periodico >= 10.4 & Periodico <= 22.1")

   Ventas  Periodico  Radio    Tv  Media
0   230.1       22.1   37.8  69.2  129.1
1    44.5       10.4   39.3  45.1   94.8
3   151.5       18.5   41.3  58.5  118.3
4   180.8       12.9   10.8  58.4   82.1

In [ ]:
df[df.Periodico.between(10.4, 22.1, inclusive="neither")]

   Ventas  Periodico  Radio    Tv  Media
3   151.5       18.5   41.3  58.5  118.3
4   180.8       12.9   10.8  58.4   82.1

In [ ]:
df.query("Periodico > 10.4 & Periodico < 22.1")

   Ventas  Periodico  Radio    Tv  Media
3   151.5       18.5   41.3  58.5  118.3
4   180.8       12.9   10.8  58.4   82.1

<br>
<br>
<p align="center"><b>
💗
<font color="DeepPink">
Hemos llegado al final de nuestro colab de Pandas, a seguir codeando...
</font>
</p>

<p align="center">
<img src="https://github.com/cristiandarioortegayubro/BDS/blob/main/images/Logo%20BDS%20Horizontal%208.png?raw=true"/>
</p>

---